.DS_Store
CMakeCache.txt
CMakeFiles
Makefile
*.a
src/pquery3
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
*.tar.gz
*.sh
_CPack_Packages
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile.generate_docs
compile_commands.json
doc/html/
