; is a comment
# is a comment
-- is an SQL comment

# Section for master process
[master]

# Directory to store logs
logdir = /tmp

# Logfile for master process
logfile = pquery3-master.log


[node0.domain.tld]
# default for "run" is No, need to set it explicitly
run = Yes

# The database to connect to
database = mytestdb

# Database type (MySQL, PostgreSQL), default MySQL
dbtype = MySQL

# IP address to connect to, default is AF_UNIX
address = 10.11.39.46

# The port to connect to
port = 3306

# The SQL input file
infile = pquery-mysql.sql

# Maximum file size to be loaded to RAM
query-list-maxsize = 1G

# Infile type, (SQL, GENLOG, BINLOG), default SQL
infiletype = SQL

# Directory to store logs
logdir = /tmp

# Socket file to use
socket = /tmp/my.sock

# The DB userID to be used
user = pquery

# The DB user's password
password = aWN1aUdhdjFjZWluZ281U2hhaW1laXRlSzJvaGsyYXMK

# The number of threads to use by worker
threads = 10

# The number of queries per thread
queries-per-thread = 10000

# Duplicates the log to console when threads=1 and workers=1
verbose = Yes

# Log all queries
log-all-queries = No

# Log succeeded queries
log-succeeded-queries = No

# Log failed queries
log-failed-queries = No

# Execute SQL randomly or sequentially
shuffle = No

# Extended output of query result
log-query-statistics = No

# Log query duration in milliseconds
log-query-duration = No

# Log output from executed query (separate log)
log-client-output = No

# Log query numbers along the query results and statistics
log-query-numbers = No

[node1.domain.tld]
address = 10.10.6.10
# default for "run" is No, need to set it explicitly
run = No

[postgres.server.tld]
address = 192.168.10.1
user = pquery
password = pquery123!
database = pgtestdb
dbtype = pgsql
infile = pquery-pgsql.sql
threads = 10
queries-per-thread = 10
run = No
log-all-queries = True
shuffle = No
log-query-statistics = True
log-query-duration = True
log-query-numbers = True
log-client-output = True


